{% extends 'base_admin.html' %}
{% block title %}Clientes{% endblock %}
{% block content %}
<h2>Gestión de Clientes</h2>
<table class="table mt-3">
    <thead class="table-danger">
        <tr><th>Nombre</th><th>Email</th><th>Teléfono</th><th>Fecha Registro</th></tr>
    </thead>
    <tbody>
        <tr><td>Camila Torres</td><td>camila.torres@example.com</td><td>+56 9 6655 4433</td><td>2025-09-30</td></tr>
        <tr><td>Pedro Ruiz</td><td>pedro.ruiz@example.com</td><td>+56 9 7722 1100</td><td>2025-09-25</td></tr>
    </tbody>
</table>
{% endblock %}
