{% extends 'base_admin.html' %}
{% block title %}Compras{% endblock %}
{% block content %}
<h2>Gestión de Compras</h2>
<table class="table mt-3">
    <thead class="table-danger">
        <tr><th>Proveedor</th><th>Fecha</th><th>Monto</th><th>Estado</th></tr>
    </thead>
    <tbody>
        <tr><td>Distribuidora La Dulce</td><td>2025-10-08</td><td>$320.000</td><td>Completada</td></tr>
        <tr><td>Cacao Export</td><td>2025-10-05</td><td>$120.000</td><td>Pendiente</td></tr>
    </tbody>
</table>
{% endblock %}
