{% extends 'base_admin.html' %}
{% block title %}Dashboard - Dulcería Lilis{% endblock %}
{% block content %}
<h1>Panel de Control</h1>
<div class="row g-3 mt-4">
<div class="col-md-3"><div class="card-indicator card-blue text-center"><h6>Ventas Hoy</h6><h3>${{ ventas_count }}</h3></div></div>
<div class="col-md-3"><div class="card-indicator card-green text-center"><h6>Productos en Stock</h6><h3>{{ productos_stock }}</h3></div></div>
<div class="col-md-3"><div class="card-indicator card-yellow text-center"><h6>Pedidos Pendientes</h6><h3>{{ pedidos_pendientes }}</h3></div></div>
<div class="col-md-3"><div class="card-indicator card-red text-center"><h6>Bajo Stock</h6><h3>{{ bajo_stock }}</h3></div></div>
</div>
{% endblock %}
