{% extends 'base_admin.html' %}
{% block title %}Finanzas{% endblock %}
{% block content %}
<h2>Resumen Financiero</h2>
<div class="row mt-4">
    <div class="col-md-6">
        <div class="card p-3 text-center bg-success text-white">
            <h5>Ingresos del Mes</h5>
            <p class="display-6">$4.500.000</p>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card p-3 text-center bg-danger text-white">
            <h5>Egresos del Mes</h5>
            <p class="display-6">$1.250.000</p>
        </div>
    </div>
</div>
{% endblock %}
